<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>863364553369-a3dq8plo446u13oj5kuq7qrkhv1lap0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.863364553369-a3dq8plo446u13oj5kuq7qrkhv1lap0p</string>
	<key>API_KEY</key>
	<string>AIzaSyB8lY2gPo15SMDVZK7QdT94Yg_wwSUxf0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>863364553369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FinalMatchForSupplier</string>
	<key>PROJECT_ID</key>
	<string>finalmatch-9f4fe</string>
	<key>STORAGE_BUCKET</key>
	<string>finalmatch-9f4fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:863364553369:ios:b71971d7fa0819797c7608</string>
	<key>DATABASE_URL</key>
	<string>https://finalmatch-9f4fe.firebaseio.com</string>
</dict>
</plist>